header.fixed.top-0.left-0.right-0.z-10.transition.duration-300.js-header(class='md:flex md:justify-between md:py-5 md:px-6')
  nav.flex.flex-col.pt-24.p-5.absolute.w-full.left-0.ease-in-out.duration-300.js-nav(class='bg-blue-300/80 md:bg-transparent md:relative -top-[500px] md:top-0 md:order-1 md:mt-0 md:border-t-0 md:flex-row md:justify-end md:items-center md:p-0 transition-[top]')
    ul.flex.flex-col(class='md:grid md:grid-flow-col md:auto-cols-max md:gap-x-10 md:mr-20')
      li
        a.text-blue-200.font-light.transition.block.py-4.text-xl.js-nav-item(href='#' class='hover:text-blue-100 md:text-blue-100 md:hover:text-white md:py-0 md:text-base' data-target='hello') Hello
      li
        a.text-blue-200.font-light.transition.block.py-4.text-xl.js-nav-item(href='#' class='hover:text-blue-100 md:text-blue-100 md:hover:text-white md:py-0 md:text-base' data-target='work') Work
      li
        a.text-blue-200.font-light.transition.block.py-4.text-xl.js-nav-item(href='#' class='hover:text-blue-100 md:text-blue-100 md:hover:text-white md:py-0 md:text-base' data-target='about') About
      li
        a.text-blue-200.font-light.transition.block.py-4.text-xl.js-nav-item(href='#' class='hover:text-blue-100 md:text-blue-100 md:hover:text-white md:py-0 md:text-base' data-target='contact') Contact

    ul.grid.grid-flow-col.auto-cols-max.gap-x-5.py-5(class='md:py-0 md:gap-x-10')
      li
        a.block.fill-blue-200.transition.js-social-item(href='#' class='hover:fill-blue-100 md:fill-blue-100 md:hover:fill-white')
          svg.w-5.h-5(class='md:w-4 md:h-4' viewbox='0 0 24 24')
            path(d='M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z')
      li
        a.block.fill-blue-200.transition.js-social-item(href='#' class='hover:fill-blue-100 md:fill-blue-100 md:hover:fill-white')
          svg.w-5.h-5(class='md:w-4 md:h-4' viewbox='0 0 24 24')
            path(d='M22 7h-7v-2h7v2zm1.726 10c-.442 1.297-2.029 3-5.101 3-3.074 0-5.564-1.729-5.564-5.675 0-3.91 2.325-5.92 5.466-5.92 3.082 0 4.964 1.782 5.375 4.426.078.506.109 1.188.095 2.14h-8.027c.13 3.211 3.483 3.312 4.588 2.029h3.168zm-7.686-4h4.965c-.105-1.547-1.136-2.219-2.477-2.219-1.466 0-2.277.768-2.488 2.219zm-9.574 6.988h-6.466v-14.967h6.953c5.476.081 5.58 5.444 2.72 6.906 3.461 1.26 3.577 8.061-3.207 8.061zm-3.466-8.988h3.584c2.508 0 2.906-3-.312-3h-3.272v3zm3.391 3h-3.391v3.016h3.341c3.055 0 2.868-3.016.05-3.016z')
      li
        a.block.fill-blue-200.transition.js-social-item(href='#' class='hover:fill-blue-100 md:fill-blue-100 md:hover:fill-white')
          svg.w-5.h-5(class='md:w-4 md:h-4' viewbox='0 0 24 24')
            path(d='M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z')

  .flex.justify-between.items-center.relative.p-5(class='md:p-0')
    a.fill-blue-100.transition.duration-300.js-logo(href='#' class='hover:fill-white')
      svg(width='40' height='40' viewbox='0 0 40 40')
        path(d='M0,0v40h40V0H0z M37.5,37.5h-35v-35h35V37.5z')
        path(d='M9.6,9h3.5c3.2,0,5.1,1.9,5.1,4.5l0,0c0,2.6-1.9,4.5-5.1,4.5H9.6V9z M13.1,15.8c1.5,0,2.5-0.8,2.5-2.3l0,0\
        c0-1.5-1-2.3-2.5-2.3h-1v4.6L13.1,15.8L13.1,15.8z')
        path(d='M23.1,9h7.3v2.1h-4.8v1.3h4.3v2h-4.3v1.4h4.9V18h-7.3V9z')
        path(d='M9.6,22h2.3l3.7,4.7V22h2.5v9h-2.2l-3.9-4.9V31H9.6C9.6,31,9.6,22,9.6,22z')
        path(d='M22,22h2.8l2,5.7l2-5.7h2.7l-3.6,9h-2.3L22,22z')
    .flex.flex-col.justify-between.items-center.fill-slate-600.transition.cursor-pointer.js-hamburguer(class='hover:fill-slate-900 md:hidden')
      .bg-blue-100.w-7.my-1.transition.duration-300(class='h-0.5')
      .bg-blue-100.w-7.my-1.transition.duration-300(class='h-0.5')
      .bg-blue-100.w-7.my-1.transition.duration-300(class='h-0.5')
