doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Denis Ventura
  body
    include includes/header

    main
      include includes/hello
      .my-24
      .py-24
      include includes/work
      .my-24
      .py-24
      include includes/about
      .my-24
      .py-24
      include includes/contact
      .my-24
      .py-24
